* {
  --pink-500: #f6c1c1;
  --pink-600: #ff9283;
  --beige-500: #fdf0e0;
  --blue-500: #73a8d8;
  --blue-600: #6d9cc9;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: var(--pink-500);
  height: 80px;
  border-radius: 0 0 12px 12px;
  margin-bottom: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSort {
  margin-bottom: 32px;
  display: flex;
}

.containerSort div {
  height: 542px;
  margin-left: 12px;
  border-radius: 8px;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets//background-livros-floridos.jpg");
  background-position: center;
  background-size: 542px 542px;
  background-repeat: no-repeat;
  flex-direction: column;
  width: 542px;
  height: 542px;
  position: relative;
}

.box1 p {
  position: absolute;
  z-index: 12;
  top: 34%;
  padding-left: 4%;
  font-size: 24px;
  font-weight: 500;
  font-family: "Special Elite", system-ui;
  text-align: center;
}

.box1 img {
  width: 360px;
  height: 360px;
}

.box1 button {
  background-color: var(--blue-500);
  width: 200px;
  height: 51px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.box1 button:hover {
  background-color: var(--blue-600);
  cursor: pointer;
}

.box2 {
  background-color: var(--beige-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 22px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.containerGender {
  background-color: var(--pink-600);
  margin-top: 22px;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.box2 button {
  margin-top: 100px;
  background-color: var(--blue-500);
  width: 200px;
  height: 51px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.box2 button:hover {
  background-color: var(--blue-600);
  cursor: pointer;
}

.box1,
.box2 {
  width: 400px;
}

.box3 {
  width: 542px;
  background-image: url("./assets//background-livros-floridos.jpg");
  background-position: center;
  background-size: 542px 542px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 .boxText {
  width: 360px;
  height: 360px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  flex-direction: column;
}

.boxText p {
  color: #000;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.boxText p:nth-child(1) {
  cursor: default;
  opacity: 1;
}

.boxText p:nth-child(2) {
  cursor: default;
  opacity: 0;
}

.boxText:hover p:nth-child(1) {
  cursor: default;
  opacity: 0;
}

.boxText:hover p:nth-child(2) {
  cursor: default;
  opacity: 1;
}

.containerText {
  display: flex;
  flex-direction: row;
}

.areaText {
  width: 1105px;
  display: flex;
  flex-direction: column;
}

.areaText input {
  margin-right: 20px;
  border: 2px solid var(--pink-500);
  margin-bottom: 20px;
  height: 62px;
  padding-inline: 12px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 8px;
}

.areaText .classificador {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.areaText div .item {
  width: 100%;
  margin-top: 12px;
  margin-right: 0px;
  margin: 20px 0 20px 0;
  border: 2px solid var(--pink-500);
  height: 62px;
  padding-inline: 12px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
}

.menu button {
  background: none;
  border: none;
}
.menu button:hover {
  cursor: pointer;
}
.menu button:hover svg {
  stroke: var(--pink-500);
}

.menu .color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.menu #picker {
  margin: 0;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
  width: 20px;
  height: 20px;
}

.menu #picker[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 1.2px;
}

.menu #picker:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.textAreaContainer {
  display: flex;
  border: 2px solid var(--pink-500);
  margin-right: 20px;
  border-radius: 12px;
}

.areaText #editor {
  width: 97%;
  max-height: 566px;
  min-height: 556px;
  overflow-y: auto;
  resize: none;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 12px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--pink-500);
    border-radius: 10px;
    border: 2px solid #fff;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

aside .userContainer {
  width: 260px;
  height: 200px;
  background-color: #fc9586;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

aside .userContainer .circle {
  margin-top: 16px;
  position: absolute;
  width: 96px;
  height: 96px;
  background-position: center;
  background-size: 100%;
  border-radius: 50px;
  background-color: #fff;
}

aside .userContainer .bottom {
  background-color: #cdd5c1;
  margin-top: 65px;
  height: 68%;
  width: 100%;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;

  & div {
    width: 220px;
  }

  & p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
  }

  & .bar {
    border-radius: 50px;
    width: 220px;
    height: 12px;
    background-color: #fff;
  }

  & .bar .barContent {
    border-radius: 50px;
    width: 0%;
    height: 100%;
    background-color: #febd56;
  }
}

aside .bookContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8d1c8;
  border-radius: 12px;
  width: 260px;
  height: 428px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10px;

  & img {
    width: 184px;
    height: 279px;
  }

  & .phr {
    color: #000;
    width: 184px;
    font-weight: 700;
    margin: 16px 0;
    font-size: 10px;
  }

  & .tag {
    width: 184px;
    background-color: #00bddb;
    border-radius: 50px;
    height: 23px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 5%;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.containerTexts {
  width: 1363px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  overflow-x: auto;
  position: absolute;
  margin-top: 1300px;

  & h2 {
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  & #textList {
    display: flex;
    gap: 20px;

  }

  & .containerText {
    background-color: #fff;
    padding: 14px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-width: 320px;
    min-height: 494px;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 12px;
    border: 2px solid #73a8d8;

    & .head {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;

      & .menu {
        position: absolute;
        top: 100%; /* Posiciona o menu logo abaixo do ícone */
        right: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        z-index: 100;
      }

      & .menu button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;
        font-size: 14px;
      }

      &.menu button:hover {
        background-color: #f0f0f0;
      }
    }

    & h3 {
      text-align: left;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 20px;
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      width: 200px;
    }

    & .content {
      margin-top: 8px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 12;
      line-clamp: 12;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 330px;
    }

    & .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & p {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      & svg:hover {
        cursor: pointer;
        stroke: #ffe3c1;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #73a8d8;
    border-radius: 10px;
    border: 2px solid #fff;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

#bg {
  margin-top: 340px;
  width: 100%;
  height: 280px;
  background-image: url("./assets/background-livros-floridos-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
}
